/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


 /* 共通のスタイル */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td {
 	font-family: 'Tsukushi A Round Gothic'; font-weight: normal;
 	color:#808080;
 }
 *, *:before, *:after {
    box-sizing: border-box;
 }
 /*ヘッダーの色：#B4DAED*/

 #wrapper{
 	width: 100%;
 }

 #main{
 	width: calc(100% - 300px);
 	float: right;
 	margin: 50px auto;
 	padding:50px;
 }
