/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//ヘッダー
.ticket_header {
    background-color: #222222;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    &_ttl {
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        color: #fff;
        line-height: 50px;
    }
    //パンくずリスト
    &_breadcrumbs {
        width: 1000px;
        height: 50px;
        margin: 0 auto;
        color: #fff;
        line-height: 50px;
        &_now{
            color: #FF0000;
        }
        &_padding{
            padding: 0 10px;
        }
    }
}

//フッター
.ticket_footer {
    background-color: #222222;
    width: 100%;
    height: 50px;
    &_ttl {
        width: 1000px;
        margin: 0 auto;
        color: #fff;
        line-height: 50px;
    }
}

//座席選択
.select_seat {
    #contents{
        display: flex;
        width: 1000px;
        margin: 0 auto;
    }

    #left{
        width: 700px;
        margin: 0 50px 0 0;
    }

    h2{
        font-size: 30px;
        margin: 0 0 50px 0;
    }

    #icon_des{
        width: 700px;
        height: 44px;
        margin: 0 0 80px 0;
    }

    #icon_des h2{
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    #icon_des ul li{
        width: 350px;
        height: 22px;
        float: left;
        vertical-align: middle;
        margin: 0 0 10px 0;
    }

    #icon_des ul li img{
        vertical-align: middle;
        margin: 0 10px 0 0;
    }

    #select_seat_area_out{
        text-align: center;
        margin: 0 0 50px 0;
    }

    #select_seat_area_in{
        display: inline-block;
    }

    #select_seat_area_in table tr th{
        padding: 3px 1px 3px 1px;
        font-size: 10px;
    }

    #select_seat_area_in table tr td{
        padding: 3px 1px 3px 1px;
        font-size: 10px;
    }

    #select_seat_area_in table tr td input{
        display: none;
    }

    #fac{
        width: 700px;
        margin: 0 0 50px 0;
    }

    #fac h2{
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    #fac table tr th{
        background-color: #808080;
        color: #FFFFFF;
        font-size: 16px;
        padding: 10px;
        border: solid 1px #000000;
    }

    #fac table tr td{
        padding: 10px;
        border: solid 1px #000000;
    }

    #terms{
        margin: 0 0 50px 0;
    }

    #terms h2{
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    #terms iframe{
        border: solid 1px #000000;
        padding: 10px;
    }

    form{
        width: 700px;
        text-align: center;
    }

    #next{
        width: 500px;
        height: 50px;
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    #back{
        width: 500px;
        height: 50px;
        background-color: #FFFFFF;
        font-size: 20px;
        color: #808080;
        border: solid 1px #808080;
        margin: 0 0 20px 0;
    }

    #back:hover{
        background-color: #808080;
        color: #FFFFFF;
    }
}

.select_ticket{
    #contents{
        display: flex;
        width: 1000px;
        margin: 0 auto;
    }

    #left{
        width: 700px;
        margin: 0 50px 0 0;
    }

    .select_ticket_ttl {
        font-size: 30px;
        line-height: 50px;
        margin: 0 0 10px 0;
        border-bottom: solid 3px #808080;
    }

    #attention{
        margin: 0 0 50px 0;
    }

    .select_ticket_area {
        margin: 0 0 50px 0;
        h2 {
            font-size: 20px;
            margin: 0 0 10px 0;
        }
        .ticket {
            display: flex;
            margin: 0 0 10px 0;
            .seat_num {
                width: 200px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 20px;
            }
            .select_ticket {
                width: 500px;
                height: 50px;
                font-size: 20px;
                select {
                    width: 500px;
                    height: 50px;
                }
            }
        }
        .price {
            display: flex;
            .ttl {
                width: 200px;
                font-size: 25px;
                text-align: left;
            }

            .disp {
                width: 500px;
                font-size: 25px;
                text-align: right;
            }
        }
    }

    //オプション
    .opt {
        margin-bottom: 50px;
        &_ttl {
            font-size: 30px;
            line-height: 50px;
            margin: 0 0 10px 0;
            border-bottom: solid 3px #808080;
        }
        &_des {
            margin: 0 0 50px 0;
        }
        .opt_group {
            margin: 0 0 50px 0;
            &_ttl {
                font-size: 20px;
                margin: 0 0 30px 0;
            }
            &_list {
                display: flex;
                flex-wrap: wrap;
                &_item{
                    width: 350px;
                    height: 50px;
                }
            }
        }
    }

    #login_area{
        width: 700px;
        margin: 0 0 50px 0;
    }

    #login_area h2{
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    #login_area h3{
        margin: 0 0 10px 0;
    }

    #login_area .txt_box{
        width: 700px;
        height: 50px;
        margin: 0 0 20px 0;
    }

    #text_align{
        text-align: center;
    }

    #login{
        width: 500px;
        height: 50px;
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    #next_area{
        width: 700px;
        margin: 0 0 50px 0;
    }

    #next_area h2{
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    #next_area p{
        text-align: center;
    }

    #next{
        width: 500px;
        height: 50px;
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    #back_area form{
        text-align: center;
    }

    #back{
        width: 500px;
        height: 50px;
        background-color: #FFFFFF;
        font-size: 20px;
        color: #808080;
        margin: 0 0 20px 0;
        border: solid 1px #808080;
    }

    #back:hover{
        background-color: #808080;
        color: #FFFFFF;
    }

    #all_back_area form{
        text-align: center;
    }

    #all_back{
        width: 500px;
        height: 50px;
        background-color: #FFFFFF;
        font-size: 20px;
        color: #808080;
        margin: 0 0 20px 0;
        border: solid 1px #808080;
    }

    #all_back:hover{
        background-color: #808080;
        color: #FFFFFF;
    }
}

.pay_info {
    #contents{
        display: flex;
        width: 1000px;
        margin: 0 auto;
    }

    #left{
        width: 700px;
        margin: 0 50px 0 0;
    }

    h2{
        font-size: 30px;
        margin: 0 0 50px 0;
    }

    #LoginMessage{
        margin: 0 0 10px 0;
    }

    #credit{
        width: 700px;
        margin: 0 0 50px 0;
    }

    #credit h2{
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    #credit h3{
        margin: 0 0 10px 0;
    }

    form .txt_box{
        width: 700px;
        height: 50px;
        margin: 0 0 20px 0;
    }

    #next_area{
        width: 700px;
        margin: 0 0 50px 0;
    }

    #next_area h2{
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    #next_area{
        text-align: center;
    }

    #next{
        width: 500px;
        height: 50px;
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    #back_area form{
        text-align: center;
    }

    #back{
        width: 500px;
        height: 50px;
        background-color: #FFFFFF;
        font-size: 20px;
        color: #808080;
        margin: 0 0 20px 0;
        border: solid 1px #808080;
    }

    #back:hover{
        background-color: #808080;
        color:#FFFFFF;
    }

    #all_back_area form{
        text-align: center;
    }

    #all_back{
        width: 500px;
        height: 50px;
        background-color: #FFFFFF;
        font-size: 20px;
        color: #808080;
        margin: 0 0 20px 0;
        border: solid 1px #808080;
    }

    #all_back:hover{
        background-color: #808080;
        color: #FFFFFF;
    }

    #LoginMessage{
        margin: 0 0 50px 0;
    }
}

//購入状況
.right {
    width: 250px;
    .ticket_status {
        width: 250px;
        h2{
            width: 250px;
            font-size: 20px;
            background-color: #808080;
            color: #FFFFFF;
            padding: 10px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border: solid 1px #000000;
        }
        dl{
            width: 250px;
            padding: 10px;
            border-right: solid 1px #000000;
            border-bottom: solid 1px #000000;
            border-left: solid 1px #000000;
            dt{
                margin: 0 0 10px 0;
            }
            dd{
                margin: 0 0 20px 0;
                &:last-child{
                    margin: 0 0 0 0;
                }
            }
        }
    }
}
