@charset "UTF-8";

#wrapper #contents #KAIINNtaikai {
	margin-top: 10px;
	border-radius: 5px;
	margin-left: 200px;
	border-style: solid;
	border-width: thin;
	margin-right: 200px;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin-bottom: 20px;
}
#contents #KAIINNtaikai h4 {
	margin-left: 15px;
	margin-top: 15px;
	font-weight: bolder;
	font-size: 25px;
	margin-bottom: 5px;
}
#contents #KAIINNtaikai p {
	color: #FF0004;
	margin-left: 10px;
	margin-bottom: 30px;
}
#KAIINNtaikai form #submit {
	margin-left: 20px;
	width: 80px;
	height: 35px;
	font-size: 17px;
	text-align: center;
	padding-right: 8px;
}
