@charset "UTF-8";
#wrapper #contents #MLMG {
	margin-top: 10px;
	margin-left: 200px;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	margin-right: 200px;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin-bottom: 20px;
}
#contents #MLMG h4 {
	margin-top: 10px;
	padding-bottom: 10px;
	font-variant: normal;
	font-weight: bolder;
	font-size: 19px;
}
#contents #MLMG p {

}
#MLMG p a {
	color: #007CFF;
}
