@charset "utf-8";
#about{
	width:1000px;
    margin-bottom: 50px;
}#about_left{
	width:500px;
	margin-right:100px;
	float:left;
}#about_right{
	width:400px;
	float:left;
}#cation{
    margin-top: 400px;
	width:950px;
}.cation{
	border: 1px #FF0000 solid;
	padding: 10px;
	margin: 10px;
	border-radius:10px;	
}