@charset "utf-8";
#map{
	width: 1000px;
}#map_img{
	width: 580px;
	padding:10px;
	margin:10px 10px 0 0;
	margin-right:50px;
	float: left;
}#mapdetail{
	width: 300px;
	float: left;
}#mapdetail table{
	float: left;
}table.access {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 20px;
}table.access td{
	border: 1px #ccc solid;
	padding: 5px 10px;
	vertical-align: top;
	line-height: 1.6;
	text-align: left;
	font-size:small;
}.left{
	width:100px;
}.right{
	width:200px;
}