@charset "utf-8";
section{
}
.map{
	width: 1000px;
    height: 650px;
    border: 1px solid #000;
    box-sizing: border-box;
}#map_img{
    margin: 20px 0;
	width: 580px;
	padding:10px;
	margin-right:50px;
	float: left;
}#mapdetail{
	width: 350px;
	float: right;
}#mapdetail h2{
    font-size: 1.5em;
    margin: 30px 0;
}#mapdetail table{
	float: left;
}table.access {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 20px;
}table.access td{
	border: 1px #ccc solid;
	padding: 5px 10px;
	vertical-align: top;
	line-height: 1.6;
	text-align: left;
	font-size:small;
}.left{
	width:100px;
}.right{
	width:200px;
}
.top_info_01{
}.top_info_01 img{
    float: right;
}