@charset "utf-8";

#contents{
    width: 1000px;
    margin: 0 auto;
}

form{
    width: 700px;
    margin: 0 auto;
}

h1{
    font-size: 30px;
    margin: 50px 0 50px 0;
}

#mail{
    width: 700px;
    margin: 0 0 50px 0;
}

#mail h2{
    font-size: 20px;
    margin: 0 0 10px 0;
}

#pass{
    width: 700px;
    margin: 0 0 50px 0;
}

#pass h2{
    font-size: 20px;
    margin: 0 0 10px 0;
}

form .txt_box{
    width: 700px;
    height: 50px;
    margin: 0 0 20px 0;
}

#next_area{
    width: 700px;
    margin: 0 0 50px 0;
}

#next_area h2{
    font-size: 20px;
    margin: 0 0 20px 0;
}

#next_area{
    text-align: center;
}

#next{
    width: 500px;
    height: 50px;
    font-size: 20px;
    margin: 0 0 20px 0;
}