@charset "utf-8";
section{
    line-height: 30px; 
}
#goods_info{
    display: flex;
    flex: 1;
    margin: auto !important;
}#goods_info li{
    flex: 1;

    padding: 10px;
    margin: 10px;	
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
    border-radius: 10px;
	-webkit-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
	-ms-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
	-o-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
    box-shadow:0px 0px 2px 2px rgba(0,0,0,0.5);
    background: #ffffff; /* Old browsers */

    /*background: -moz-linear-gradient(180deg, #fff 0%, rgba(255,255,255,0.05) 80%, rgba(0,0,255,0.2) 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(180deg, #fff 0%, rgba(255,255,255,0.05) 80%, rgba(0,0,255,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background:linear-gradient(180deg, #fff 0%, rgba(255,255,255,0.05) 80%, rgba(0,0,255,0.2) 100%);*/
    
}#goods_info li{
    text-align: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto 275px;
    padding-top: 275px;
}#goods_info li p{
    text-align: left;
}
.topic{
	padding:10px;
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: flex-start; /* Safari */
    justify-content:         flex-start;
	/*background-color:rgba(255,0,0,0.1);*/
    
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 0 auto;
    

}
.topic a{
    text-decoration: none;
}
.topic a:hover{
    opacity: 0.5;
}
.topic li{
    margin: 0 40px;
    text-align: center;
}.topic li p{
	background: #ffffff; /* Old browsers */

	/*background: -moz-radial-gradient(#fff,rgba(255,255,255,0.5)); /* FF3.6-15 */
	/*background: -webkit-radial-gradient(#fff,rgba(255,255,255,0.5)); /* Chrome10-25,Safari5.1-6 */
    
    /*background:radial-gradient(rgba(255,255,255,0),rgba(255,255,255,1));*/
	text-align:center;
    color: #28385E;
	font-weight: bold;
    box-shadow:0px 0px 4px 4px rgba(255,255,255,1);
    text-align: center;
}

/************-------------------------------------------------新food-***/
#food_list_frame{
    border: 5px solid #000;
    box-sizing: border-box;
    border-radius: 20px;
}
#food_list_frame h3{
    border-bottom: 3px dotted #000;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    
}
#foods_list{
    -webkit-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start; /* Safari */
    justify-content:         flex-start;
    
    text-align: center;
}
#foods_list img{
    width: 225px;
    height: 200px;
	vertical-align: bottom;
}
#foods_list li{
    min-width: 25%;
    position: relative;
    border: 10px solid rgba(255,255,255,0);
    box-sizing: border-box;
	-webkit-transition: border 0.25s linear;
	-moz-transition: border 0.25s linear;
	-ms-transition: border 0.25s linear;
	-o-transition: border 0.25s linear;
    transition: border 0.25s linear;
    z-index: 5;
}
.message-function{
    position: relative;
}
#foods_list li h4{
    border: 1px solid #B4DAED;
    text-align: center;
}#foods_list li:hover{
    border:10px solid #B4DAED;
}#foods_list li a{
    text-decoration: none;
}
.message{
    position: absolute;
    bottom: 0px;
    opacity: 0;
    background-color: rgba(0,0,0,1);
    color: white;
    padding: 5px;
    border: 3px solid rgba(255,255,255,1);
    border-radius: 5px;
    font-size: 0.8em;
    width: 100%;
    z-index: -10;
    transition: opacity 0.25s linear,bottom 0.25s linear;
}
.message-function:hover > .message{
    bottom: 210px;
    opacity: 1;
}
.shohin_more{
    text-align: center;
    margin: 0 auto;
}

/***************------------------------------------------------旧food-****/
#food_frame{
    border: 20px solid rgba(0,0,255,0);
    height: 2140px;
}
.foods_img_box{
    width: 225px;
    height: 200px;
    margin: 0 auto;
	vertical-align: bottom;
    background-size: auto 100% ;
    background-repeat: no-repeat;
    background-position: center center !important;
}
/*
#food_back{
    height: 2100px;
    /*background-image: url(../images/lin_044-min.png);*/
    /*border: 20px solid rgba(0,0,255,0.5);*/
/*  background-color: rgba(0,0,255,0);
    /*box-sizing: border-box;*/
    /*border-image: url(../images/fra_054-min.png) 15% round;*/
/*  background-size: 800px;
    background-position: bottom;
    background-repeat: no-repeat;
}*/
#goodsbox{
	width:800px;
    margin: 0 auto;
}
#leftbox{
	width: 400px;
	float: left;
}
#rightbox{
	width: 400px;
	float: left;
}.goodsbox{
	width: 350px;
	margin: 0 15px 30px;
	padding: 15px 20px 20px;
	float: left;
	-webkit-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.25);
	-ms-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.25);
	-o-box-shadow:0px 0px 2px 2px rgba(0,0,0,0.25);
    box-shadow:0px 0px 2px 2px rgba(0,0,0,0.25);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color:rgba(0,0,255,0.01);

}.goodsbox h3{
    font-size: 1.2em;
	font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
    
    text-align: center;
}.goodsbox li{
	margin: 0 0 0.8em;
	list-style: inside;
	padding-left: 1em;
	text-indent: -1em;
	
}.goodsbox li span {
	display: block;
	padding-left: 0;
	text-indent: 0;
	font-size: 80%;
	font-weight: bold;
}.english{
    margin: 0 10px;
    opacity: 0.5;
	font-size: 80%;
	font-weight: bold;
}#goods_list{
    -webkit-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start; /* Safari */
    justify-content:         flex-start;
    
}#goods_list li{
    position: relative;
    min-width: 50%;
    border: 10px solid #fff;
    box-sizing: border-box;
	-webkit-transition: border 0.25s linear;
	-moz-transition: border 0.25s linear;
	-ms-transition: border 0.25s linear;
	-o-transition: border 0.25s linear;
    transition: border 0.25s linear;
    padding-bottom: 30px;
}.goods_img_box{
    max-width:480px;
    height:300px;
    margin: 0 auto;
    vertical-align:bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#goods_list li h3{
    border: 1px solid #B4DAED;
    text-align: center;
}#goods_list li:hover{
    border:10px solid #B4DAED;
}#goods_list li a{
    text-decoration: none;
}

.shohin_shosai{
    width: 100%;
    position: absolute;
    bottom:0px;
    background-color: white;
    border:1px solid #000;
    color: black;
    margin: 0 auto;
    text-align: center;
	-webkit-transition: background 0.25s linear,color 0.25s linear;
	-moz-transition: background 1s linear,color 1s linear;
	-ms-transition: background 0.25s linear,color 0.25s linear;
	-o-transition: background 0.25s linear,color 0.25s linear;
    transition: background 0.25s linear,color 0.25s linear;
    box-sizing: border-box;
}li:hover > a .shohin_shosai{
    background-color: #28385E;
    color: white;
}
#goodsother{
    max-width: 1000px;
    float: left;
    
    
}#service_list{
    width: 100%;
}.service{
    border: 1px #ccc solid;
    padding: 15px;
    margin: 10px auto;
    height: 100px;
    vertical-align: middle;
}.service th{
    background-color: #B4DAED;
}.service td{
    padding: 15px;
}#rental{
    margin: 0 auto;
}#manner_list{
    padding: 0 30px;
    border: 20px solid #ccc;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.01);
    max-width: 1000px;
}#manner_list p{
    text-align: center;
    font-size: 1.5em;
    margin: 30px 0;
    max-width: 1000px;
}.manner{
	font-size:1.25em;
	padding:5px;
	margin:20px auto;
	font-weight: bold;
-webkit-box-shadow:0px 0px 4px 4px rgba(255,0,0,0.1);
-moz-box-shadow:0px 0px 4px 4px rgba(255,0,0,0.1);
-ms-box-shadow:0px 0px 4px 4px rgba(255,0,0,0.1);
-o-box-shadow:0px 0px 4px 4px rgba(255,0,0,0.1);
	box-shadow:0px 0px 4px 4px rgba(255,0,0,0.1);
    
	background: #fff; /* Old browsers */
    color: rgba(255,0,0,0.5);

	/*background: -moz-linear-gradient(135deg, #fff 0%, rgba(255,0,0,0.1) 90%, rgba(255,0,0,0.5) 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(135deg, #fff 0%, rgba(255,0,0,0.1) 90%, rgba(255,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background:linear-gradient(135deg, #fff 0%, rgba(255,0,0,0.1) 90%, rgba(255,0,0,0.5) 100%);*/
    text-align: center;
}
/*注意書き*/
.aka{
    color: red;
}



/*flex*/

@media screen and (max-width: 700px) {
  #goods_info {
    flex-direction: column;
  }
    .topic{
    flex-direction: column;
    }
    #goods_info li{
    max-width: 100%; 
    }
    #foods_list li{
    min-width: 50%;
    }
    #goods_list{
    flex-direction: column;
    }
    #goods_list li{
    }
    #service_list{
        display: block;
        max-width: 100%;
    }
}

