@charset "utf-8";
/* CSS Document */
/*clearfix*/
.clearfix::after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
.page_name{
    text-align: center;
	font-size:2.0em;
	padding:5px;
	margin:50px auto;
    padding: 20px;
	border-top:5px #28385E solid;
	border-bottom:5px #ccc dashed;
	background-image: url(../images/mar_016.png);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-sizing: border-box;
    
}.contents_name{
    text-align: center;
	font-size:1.5em;
	padding:10px;
	margin:25px 0;
    /*background: -moz-linear-gradient(180deg, #fff 0%, rgba(255,255,255,0.05) 80%, rgba(0,0,255,0.2) 100%); /* FF3.6-15 */
	/*background: -webkit-linear-gradient(180deg, #fff 0%, rgba(255,255,255,0.05) 80%, rgba(0,0,255,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    /*background:linear-gradient(180deg, #fff 0%, rgba(255,255,255,0.05) 80%, rgba(0,0,255,0.2) 100%);*/
    border-top:  10px dashed #B4DAED;
    border-bottom: 10px dashed #B4DAED;
    
	/*-webkit-border-radius: 0 0 40px 0;
	-moz-border-radius: 0 0 40px 0;
	-ms-border-radius: 0 0 40px 0;
	-o-border-radius: 0 0 40px 0;
    border-radius:  0 0 0 40px;*/
}.movie_name{
	font-size:x-large;
	padding:5px;
	margin:10px 0;
}.movie_contents{
	font-size:x-large;
	margin-bottom:10px;
	padding:5px;
	margin:2.5px;
}section{
	width:1000px;
	background-color:#fff;
	margin:0 auto;
}#wrapper{
	width:1000px;
	background-color:#fff;
	margin:0 auto;
}.info_name{
    margin: 0 auto 10px;
    padding: 10px 0;
    border-bottom:5px solid #B4DAED;
    box-sizing: border-box;
    text-align: center;
}

/*ページ内リンク*/
.page_link{
    margin: 30px 0;
}.page_link li{
    padding: 10px;
    border-bottom: 1px dashed #ccc;
}.page_link li:hover{
    opacity: 0.5;
}.page_link a{
    text-decoration: none;
}

.service_button{
    padding: 10px;
    color: black;
    border: 1px solid #000;
    margin: 10px;
    line-height: 30px;
	text-decoration: none;
    
}.service_button:hover{
    opacity: 0.5;
}#now{
    background-color: #B4DAED;
    border:1px solid #fff;
}
/*
#28385E
	-webkit-
	-moz-
	-ms-
	-o-
#B4DAED
*/