@charset "utf-8";

#now{
    color: #FF0000;
}

#pan{
    padding: 20px 0 20px 0;
    margin: 0 0 50px 0;
    border-bottom: solid 1px #808080;
}

.pan_padding{
    padding: 0 10px 0 10px;
}