@charset "utf-8";
.sale_info{
	border: 5px #FF0000 solid;
	width: 800px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
 	margin-bottom: 10px;
}.ticket_box{
	margin-bottom: 100px;
}.ticket_left {
	float: left;
	width: 120px;
	height: 120px;
	line-height: 100px;
	color: #fff;
	text-align: center;
	background: #000000;
	margin: 0 20px 0 0;
	padding: 10px;
	font-size:small;

}.ticket_right {
	float: left;
}body table tr td{
	border-bottom: 1px solid #CCC;
    
}.ticket_list{
	list-style-type: none;
}.m{
	padding:5px;
	width: 150px;
	padding-right:25px;
}.a{
	padding:5px;
	width: 500px;
	padding-right:25px;    
}.y{
	padding:5px;
	width: 75px;
	text-align: right;
}
